body{
    background: coral;
    color: lightgoldenrodyellow;
}

p {
    color: deeppink;
}

table {
    border:solid 1px black;
}

#index {
    color:black;
}

#p1 {
    color:orangered;
}

#p2 {
    color:blueviolet;
}


* {
    box-sizing: border-box;
}

td {
    border: 1px solid red;
    padding:10px;
    margin:20px;
}

#titlebar {
    border: 1px solid red;

}

#nav {
    border: 1px deeppink;
    background-color: darkslategray;
}

#content {

}