body{
    background: #2d5a8e;
    color: #00d4aa;
}

p {
    color: #f59e0b;
}

table {
    border:solid 1px black;
}

#index {
    color:black;
}

#p1 {
    color:orangered;
}

#p2 {
    color:lightgoldenrodyellow;
}


* {
    box-sizing: border-box;
}

td {
    border: 1px solid red;
    padding:10px;
    margin:20px;
}

#titlebar {
    border: 1px solid red;
    width:
}

#nav {
    border: 1px deeppink;
    background-color: darkslategray;
}

#navi {
    border: 1px solid forestgreen;

}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #333;
}

#nav li {
    padding-left: 20px;
    padding-right: 20px;
}

#nav li:hover {
    background-color: aliceblue;
}

#content {
    border: 1px aliceblue;
}

